<p>
  search works!
</p>
<input type="text" [(ngModel)]="inputString">
<a>Search by:</a>
<select [(ngModel)]="searchOption">
    <option value="name">Name</option>
    <option value="surname">Surname</option>
    <option value="tag">Tag</option>
</select>
<button (click)="startSearch()">Search</button>

<div *ngIf="gotContactData!=null">
    <p *ngFor="let c of gotContactData" >Name:{{c.name}}, Surname:{{c.surname}},Adress:{{c.adress}},Country:{{c.country}}
      <a [routerLink]="['/profile',c.id]">Open profile</a>
    </p>
</div>