<p>
  navbar works! 
  <a class="nav-link" routerLink="/newContact">Add new contact</a>
  <a class="nav-link" routerLink="/search">Search</a>
  <a class="nav-link" [routerLink]="['/profile',id]">Profile</a>
</p>
