<p>
  profile works!
</p>

<div>
  <a>Name:{{profileData[0].name}}</a><br>
  <a>Surname:{{profileData[0].surname}}</a><br>
  <a>Adress:{{profileData[0].adress}}</a><br>
  <a>Country:{{profileData[0].country}}</a><br>
  <br>


  <div *ngIf="profileData[0].phone.length>0">Phones:
          <p *ngFor="let p of profileData[0].phone">{{p.phone}}</p>
  </div>

  <div *ngIf="profileData[0].email.length>0">Emails:
      <p *ngFor="let e of profileData[0].email">{{e.email}}</p>
</div>

<div *ngIf="profileData[0].tag.length>0">Tags:
    <p *ngFor="let t of profileData[0].tag">{{t.tag}}</p>
</div>
</div>
